#home {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/sunset.jpg");
    background-size: cover;
    background-position:center;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    .name {
        display:flex;
        flex-direction: column;
        margin:2em;
        opacity:.7;
        h1{
            text-transform: uppercase;
            font-weight: 800;
            font-size: 5em;
            color:rgb(214, 214, 249);
        }
        h2 {
            font-size: 3em;
            text-transform:lowercase;
            color:rgb(214, 214, 249);
        }
    }
    .project-container {
        .project {
            display:flex;
            flex-direction: column;
            margin:1em 2em;
            h2 {
                color:rgb(249, 214, 242);
                font-size:3em;
                text-transform: lowercase;
                font-weight: 800;
                opacity:.4;
            }
            h3 {
                color:rgb(250, 220, 244);
                font-size:1.5em;
                opacity: .4;
            }
            a {
                text-decoration: none;
                color:rgb(249, 214, 242);
                font-size:1.2em;
                text-transform: uppercase;
                font-weight: 800;
                opacity: .4;
                margin-top:.5em;
                margin-bottom:1em;
                &:hover {
                    opacity:1;
                }
            }
        }
    }
}

// Media Queries
@media screen and (max-width:971px) {
    #home {
        .name {
            h1{
                font-size: 4em;
            }
            h2 {
                font-size: 1.8em;
            }
        }
        .project-container {
            .project {
                h2 {
                    font-size:2em;
                }
                h3 {
                    font-size:1.2em;
                }
                a {
                    font-size:1em;
                }
            }
        }
    }
}

@media screen and (max-width:707px) {
    #home {
        .name {
            h1{
                font-size: 3.2em;
            }
        }
    }
}

@media screen and (max-width:548px) {
    #home {
        .name {
            h1{
                font-size: 2.8em;
            }
            h2 {
                font-size: 1.8em;
            }
        }
        .project-container {
            .project {
                h2 {
                    font-size:1.6em;
                }
                h3 {
                    font-size:1.1em;
                }
                a {
                    font-size:.8em;
                }
            }
        }
    }
}

@media screen and (max-width:488px) {
    #home {
        .name {
            h1{
                font-size: 2em;
            }
            h2 {
                font-size: 1.8em;
            }
        }
        .project-container {
            .project {
                h2 {
                    font-size:1.2em;
                }
                h3 {
                    font-size:.8em;
                }
                a {
                    font-size:.5em;
                }
            }
        }
    }
}

@media screen and (max-width:372px) {
    #home {
        .name {
            h1{
                font-size: 1.7em;
            }
            h2 {
                font-size: 1.3em;
            }
        }
    }
}