@import './sass/_reset';
@import './sass/_about';
@import './sass/_index';
@import './sass/_contact';

body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(0,0,0,.8);
    height:100vh;
}

nav {
    ul{
        display:flex;
        margin:1em;
        position:absolute;
        right:0;
        a {
            text-decoration:none;
            color:white !important;
            text-transform: lowercase;
            padding:0 2em;
            opacity:.6;
            &:hover {
                opacity:1;
                text-decoration:none;
            }
        }
    }
}

footer {
    ul{
        display:flex;
        margin:1em;
        position:absolute;
        bottom:0;
        left:0;
        i {
            color:white;
            padding:0 1em;
            opacity:.6;
            &:hover {
                opacity:1;
            }
        }
    }
}
