/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/reyes.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#about .about-wrapper {
  display: flex;
  flex-direction: column;
}
#about .about-wrapper .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80vw;
  height: 70vh;
}
#about .about-wrapper .info h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  color: pink;
  opacity: 0.8;
  line-height: 1.2em;
}
#about .about-wrapper .info h3 {
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  color: pink;
  opacity: 0.8;
  line-height: 1.2em;
  margin: 0 3em;
}
#about .about-wrapper .info .icons {
  display: flex;
  justify-content: center;
}
#about .about-wrapper .info .icons a {
  line-height: 1.2em;
  opacity: 0.6;
  color: pink;
  font-size: 3em;
  margin: 0 0.25em;
}
#about .about-wrapper .info .icons a:hover {
  opacity: 1;
}
#about .about-wrapper .skills {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: 50vh;
}
#about .about-wrapper .skills ul {
  margin: 0.5em 2em;
}
#about .about-wrapper .skills ul li {
  font-weight: 800;
  font-size: 1.7em;
  color: pink;
  opacity: 0.8;
  line-height: 1.2em;
}

@media screen and (max-width: 1199px) {
  #about .about-wrapper .info h1 {
    font-size: 3em;
  }
  #about .about-wrapper .info h3 {
    font-size: 1.6em;
  }
  #about .about-wrapper .info .icons a {
    font-size: 2.6em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 990px) {
  #about .about-wrapper .info {
    width: 100vw;
  }
  #about .about-wrapper .info h1 {
    font-size: 2.6em;
  }
  #about .about-wrapper .info h3 {
    font-size: 1.3em;
  }
  #about .about-wrapper .info .icons a {
    font-size: 2.6em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 786px) {
  #about .about-wrapper .info h1 {
    font-size: 2.4em;
  }
  #about .about-wrapper .info h3 {
    font-size: 1.2em;
  }
  #about .about-wrapper .info .icons a {
    font-size: 2em;
  }
  #about .about-wrapper .skills ul {
    margin: 0.5em 1em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 660px) {
  #about .about-wrapper .info h1 {
    font-size: 1.9em;
  }
  #about .about-wrapper .info h3 {
    font-size: 1.1em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  #about .about-wrapper .info h3 {
    font-size: 1em;
  }
  #about .about-wrapper .info .icons a {
    font-size: 2em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 428px) {
  #about .about-wrapper .info h1 {
    font-size: 1.5em;
  }
  #about .about-wrapper .info h3 {
    font-size: 1em;
  }
  #about .about-wrapper .info .icons a {
    font-size: 1.6em;
  }
  #about .about-wrapper .skills ul li {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 378px) {
  #about .about-wrapper .info .icons a {
    font-size: 1.3em;
  }
  #about .about-wrapper .skills {
    display: flex;
    justify-content: center;
  }
  #about .about-wrapper .skills ul {
    margin: 0.5em;
  }
}
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/sunset.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
#home .name {
  display: flex;
  flex-direction: column;
  margin: 2em;
  opacity: 0.7;
}
#home .name h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5em;
  color: #d6d6f9;
}
#home .name h2 {
  font-size: 3em;
  text-transform: lowercase;
  color: #d6d6f9;
}
#home .project-container .project {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
}
#home .project-container .project h2 {
  color: #f9d6f2;
  font-size: 3em;
  text-transform: lowercase;
  font-weight: 800;
  opacity: 0.4;
}
#home .project-container .project h3 {
  color: #fadcf4;
  font-size: 1.5em;
  opacity: 0.4;
}
#home .project-container .project a {
  text-decoration: none;
  color: #f9d6f2;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.4;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#home .project-container .project a:hover {
  opacity: 1;
}

@media screen and (max-width: 971px) {
  #home .name h1 {
    font-size: 4em;
  }
  #home .name h2 {
    font-size: 1.8em;
  }
  #home .project-container .project h2 {
    font-size: 2em;
  }
  #home .project-container .project h3 {
    font-size: 1.2em;
  }
  #home .project-container .project a {
    font-size: 1em;
  }
}
@media screen and (max-width: 707px) {
  #home .name h1 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 548px) {
  #home .name h1 {
    font-size: 2.8em;
  }
  #home .name h2 {
    font-size: 1.8em;
  }
  #home .project-container .project h2 {
    font-size: 1.6em;
  }
  #home .project-container .project h3 {
    font-size: 1.1em;
  }
  #home .project-container .project a {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 488px) {
  #home .name h1 {
    font-size: 2em;
  }
  #home .name h2 {
    font-size: 1.8em;
  }
  #home .project-container .project h2 {
    font-size: 1.2em;
  }
  #home .project-container .project h3 {
    font-size: 0.8em;
  }
  #home .project-container .project a {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 372px) {
  #home .name h1 {
    font-size: 1.7em;
  }
  #home .name h2 {
    font-size: 1.3em;
  }
}
#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/moo.jpg");
  background-size: cover;
  background-position: 10% 10%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
#contact .contact-container h3 {
  font-weight: 800;
  font-size: 5em;
  color: lightblue;
  opacity: 0.7;
  line-height: 1.2em;
}
#contact .contact-container h5 {
  font-weight: 800;
  font-size: 2em;
  color: lightblue;
  opacity: 0.7;
  line-height: 1.2em;
}

@media screen and (max-width: 919px) {
  #contact .contact-container h3 {
    font-size: 4em;
  }
  #contact .contact-container h5 {
    font-size: 2em;
  }
}
@media screen and (max-width: 742px) {
  #contact .contact-container h3 {
    font-size: 3em;
  }
  #contact .contact-container h5 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 757px) {
  #contact .contact-container h3 {
    font-size: 2.4em;
  }
  #contact .contact-container h5 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 458px) {
  #contact .contact-container h3 {
    font-size: 2em;
  }
  #contact .contact-container h5 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 382px) {
  #contact .contact-container h3 {
    font-size: 1.7em;
  }
  #contact .contact-container h5 {
    font-size: 1em;
  }
}
body {
  font-family: Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav ul {
  display: flex;
  margin: 1em;
  position: absolute;
  right: 0;
}
nav ul a {
  text-decoration: none;
  color: white !important;
  text-transform: lowercase;
  padding: 0 2em;
  opacity: 0.6;
}
nav ul a:hover {
  opacity: 1;
  text-decoration: none;
}

footer ul {
  display: flex;
  margin: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer ul i {
  color: white;
  padding: 0 1em;
  opacity: 0.6;
}
footer ul i:hover {
  opacity: 1;
}

@media screen and (max-width: 420px) {
  nav ul {
    margin: 0.5em;
  }
  nav ul a {
    padding: 0 1em;
    font-size: 0.8em;
  }

  footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
